.main {
  height: 100vh;
  display: flex;
  padding: 100px 0px;
}

.main__movies {
  padding: 0px 40px;
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  width: 60%;
  overflow: auto;

  align-items: center;
}

.main__detail {
  border-radius: 10px;
  width: 40%;
  background-color: rgb(24, 23, 23);
  color: white;
}

.background {
  width: 100%;
}

.error,
.loading {
  color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
